* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #d9dcd6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
}
a {
    color: #ffffff;
    text-decoration: none;
}
p {
    font-size: 16px;
}
/* Header Style Start */
.header {
    padding: 20px;
    background-color: #2a607c;
}
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}
.header h1 {
    display: inline-block;
    font-size: 48px;
}
.header nav ul {
    list-style-type: none;
}
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* Header Style End */


/* Hero Style Start */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* Hero Style End */

/* Content Style Start */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
.content section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
.content section img {
    max-height: 200px;
}
.content section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Content Style End */
/* Aside Style Start */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2a607c;
    color: #fff;
}
.benefits h3 {
    margin: 20px 0 5px 0;
    text-align: center;
    font-size: 24px;
}
.benefits section {
    margin-bottom: 53px; 
}
.benefits .benefit-lead div {
    background-image: url("../images/lead-generation.png");
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    height: 130px;
    margin: 0 auto; 
}
.benefits .benefit-brand div {
    background-image: url("../images/brand-awareness.png");
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    height: 130px;
    margin: 0 auto;
}
.benefits .benefit-cost div {
    background-image: url("../images/cost-management.png");
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    height: 130px;
    margin: 0 auto;
}
.float-left {
    float: left;
    margin-right: 25px;
}
.float-right {
    float: right;
    margin-left: 25px;
}
/* Aside Style End */
/* Footer Style Start */
.footer {
    padding: 30px;
    clear: both;
    color: #000;
    text-align: center;
}
.footer h2 {
    font-size: 20px;
}